/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

		@media (min-width: 992px) {

			#top-bar.transparent-topbar {
				z-index: 399;
				border-bottom: 0;
				margin-top: 15px;
			}

			#top-bar.transparent-topbar {
				background: transparent !important;
			}

			#top-bar + #header.transparent-header.floating-header {
				margin-top: 15px;
			}

		}

		.dark .top-links li > a,
		.dark #top-social li a { color: #FFF; }

		.dark .top-links li:hover { background-color: rgba(255,255,255,0.15); }

		.dark #top-social li { border-left: 0; }
